<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarMesero">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="listadoMeseros" id="meseros">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{mesero.titulo}]]</h4>
                            </div>
                            <div th:if="${meserosDB != null and !meserosDB.empty}">
                                <table class="table table-stryped" style="margin-bottom: 90px;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{mesero.nombre}">Nombre</th>
                                            <th th:text="#{mesero.apellido}">Apellido</th>
                                            <th th:text="#{mesero.cedula}">Cédula</th>
                                            <th th:text="#{mesero.telefono}">Teléfono</th>
                                            <th th:text="#{mesero.correo}">Correo</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mesero, contador : ${meserosDB}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${mesero.nombre}]]</td>
                                            <td>[[${mesero.apellido}]]</td>
                                            <td>[[${mesero.cedula}]]</td>
                                            <td>[[${mesero.telefono}]]</td>
                                            <td>[[${mesero.correo}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/mesero/eliminar/}+${mesero.id_mesero}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/mesero/modificar/}+${mesero.id_mesero}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${meserosDB == null or meserosDB.empty}">
                                <span th:text="#{mesero.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </section>
        <section th:fragment="agregarMesero">
            <div id="agregarMesero" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Mesero</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/mesero/guardar}" th:object="${mesero}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{mesero.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="apellido" th:text="#{mesero.apellido}">Apellido</label>
                                    <input type="text" class="form-control" name="apellido" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="cedula" th:text="#{mesero.cedula}">Cédula</label>
                                    <input type="text" class="form-control" name="cedula" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="tel" th:text="#{mesero.telefono}">Teléfono</label>
                                    <input type="tel" class="form-control" name="telefono" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="correo" th:text="#{mesero.correo}">Correo</label>
                                    <input type="email" class="form-control" name="correo" required="true">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="editarMesero">            
            <form method="POST"
                  th:action="@{/mesero/guardar}"
                  th:object="${mesero}"
                  class="was-validated">
                <input type="hidden" name="id_mesero" th:field="*{id_mesero}"/>
                <section th:replace="mesero/fragmentosMesero :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar}]]</h4>
                                    </div>
                                    <div class="card-body">              
                                        <div class="form-group">
                                            <label for="nombre" th:text="#{mesero.nombre}">Nombre: </label>
                                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="apellido" th:text="#{mesero.apellido}">Apellido: </label>
                                            <input type="text"  class="form-control" name="apellido" th:field="*{apellido}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="cedula" th:text="#{mesero.cedula}">Cédula: </label>
                                            <input type="text"  class="form-control" name="cedula" th:field="*{cedula}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="tel" th:text="#{mesero.telefono}">Teléfono: </label>
                                            <input type="text"  class="form-control" name="telefono" th:field="*{telefono}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="correo" th:text="#{mesero.correo}">Correo: </label>
                                            <input type="text"  class="form-control" name="correo" th:field="*{correo}"/>
                                        </div>               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/mesero/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/mesero/eliminar/}+${mesero.id_mesero}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
