<!DOCTYPE html>
<!-- RESTAURANTE -->
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Restaurante Delitzo</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link rel="icon" type="image/x-icon" href="/images/logo.png">
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <style>

        .menu {
            width: 900px;
            margin: 0 auto;
        }

        nav {
            float: right;
        }

        nav ul li {
            list-style: none;
            margin-left: 75px;
            padding: 12px 0;
            float: left;
            position: relative;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        nav ul li a::before {
            display: block;
            content: '';
            width: 0%;
            background: white;
            height: 5px;
            top:0;
            position: absolute;
            transition: width 0.2s;
        }

        nav ul li a:hover::before {
            width: 100%;
        }

    </style>
    <body>
        <header th:fragment="header" class="header">
            <!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                 <div class="container">
                     <a th:href="@{/}" class="navbar-brand">Restaurante Delitzo</a>
                     <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                         <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarCollapse">
                         <ul class="navbar-nav" sec:authorize="hasRole('ROLE_MESERO')">
                             <li class="nav-item px-2">
                                 <a class="nav-menu-link nav-link" th:href="@{/platillo/listado}"
                                    th:text="#{plantilla.platillos}">Platillos</a>
                             </li>
                             <li class="nav-item px-2">
                                 <a class="nav-menu-link nav-link" th:href="@{/proveedor/listado}"
                                    th:text="#{plantilla.proovedor}">Provedores</a>
                             </li>
                             <li class="nav-item px-2"  sec:authorize="hasRole('ROLE_ADMIN')">
                                 <a class="nav-menu-link nav-link" th:href="@{/proveedor/listado}"
                                    th:text="#{plantilla.proovedor}">Provedores</a>
                             </li>
                         </ul>
                         <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
                             <li class="nav-item mr-3">
                                 <a href="#" class="nav-link">
                                     <i class="fas fa-user"></i>
                                     <span th:text="#{plantilla.bienvenido}">Bievenido</span>
                                     <span sec:authentication="name">Usuario</span>
                                 </a>
                             </li>
                             <li class="nav-item">
                                 <form method="POST" th:action="@{/logout}">
                                     <a href="#" onclick="this.parentNode.submit();" class="nav-link">
                                         <i class="fas fa-user-times"></i> [[#{plantilla.logout}]]
                                     </a>
                                 </form>
                             </li>
                         </ul>
                     </div>                    
                 </div>|
             </nav>
             <section id="main-header" class="py-2 bg-success text-white">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-6">
                             <h1>
                                 <i class="fas fa-cog"></i> [[#{plantilla.titulo}]]
                             </h1>
                         </div>
                     </div>
                 </div>
             </section>-->


            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a th:href="@{/mesero/listado}">Meseros</a></li>
                        <li><a th:href="@{/proveedor/listado}">Proveedores</a></li>
                        <li><a th:href="@{/platillo/listado}">Platillos</a></li>
                        <li><a href="../contacto/contacto.html">Contacto</a></li>

                    </ul>
                </nav>
            </div>
        </header>

        <footer th:fragment="footer" class="position-fixed bottom-0 start-0 end-0 bg-info text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        &COPY [[#{plantilla.derechos}]]
                        <a th:href="@{/(lang=es)}" style="color: white;font-weight: bold;">ES</a> | 
                        <a th:href="@{/(lang=en)}" style="color: white;font-weight: bold;">EN</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
