<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section th:replace="proveedor/fragmentosProveedor :: botonesAgregar"/> 
        <section th:replace="proveedor/fragmentosProveedor :: agregarProveedor"/>
        <section th:replace="proveedor/fragmentosProveedor :: listadoProveedores"/>

        <footer th:replace="layout/plantilla :: footer"></footer> 
    </body>
</html>
