<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div id="contacto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1964.5206216242862!2d-84.2104648982949!3d10.013452073775712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f9c162edb497%3A0x797dd9c97caaf821!2sEl%20Patio!5e0!3m2!1sen!2scr!4v1650249951264!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <h3>Club Culinario</h3>
            Plaza Futura, Local 2
            Frente al Holiday Inn Express, contiguo al Fresh Market de Lindora
            Santa Ana, Costa Rica
            <h3>Teléfono</h3>
            PATiO +(506) 2100-1590</br>
            TiENDA +(506) 2100-7763
            <h3>Correo</h3>
            info@elpatio.com
        </div>

    </body>
</html>
