<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <nav th:replace="layout/plantilla :: navbar"></nav>
        
        <section th:replace="platillo/fragmentosPlatillo :: botonesAgregar"/>
        <section th:replace="platillo/fragmentosPlatillo :: agregarPlatillo"/>
        <section th:replace="platillo/fragmentosPlatillo :: listadoPlatillos"/>

        <footer th:replace="layout/plantilla :: footer"></footer> 
    </body>
</html>
