<!DOCTYPE html>
<html>
    <head>
        <title>Restaurante - factura</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
        
        *{
            font-family: Merriweather Sans;
        }
        
        .toda{
            text-align: center;
        }
    </style>
    <body>
        <section class="toda">
            <h1>Factura 2065476526</h1>
            <h3>Entrada...........₡3 500,00</h3>
            <h3>Platillo...........₡14 000,00</h3>
            <h3>Ensalada...........₡6 200,00</h3>
            <h3>Bebida...........₡2 700,00</h3>
            <h3>Postre...........₡3 000,00</h3>
            
        </section>
    </body>
</html>
