<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Restaurante</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/images/logo.png" rel="shortcut icon" type="image/x-icon"/>
    </head>
    <style>
        #mesa{
            border: 1px solid lightgray;
            border-radius: 15px;
            padding: 20px;
            margin: 50px;
            height: 300px;
            width: 300px;
        }
        
        section div{
            font-size: 40px;
            text-align: center;
            height: 130px;
        }
    </style>
    <body>
        <div>Mesas</div>
        <section id="mesa">
            <div>
                100
            </div>
        </section>
        <section id="mesa">
            <div>
                101
            </div>
        </section>
        <section id="mesa">
            <div>
                102
            </div>
        </section>
        <section id="mesa">
            <div>
                103
            </div>
        </section>
        <section id="mesa">
            <div>
                104
            </div>
        </section>
        <section id="mesa">
            <div>
                105
            </div>
        </section>
        <section id="mesa">
            <div>
                106
            </div>
        </section>
    </body>
</html>
